{
  "CLOUDANT_CONNECTION_URL": {"expr": ".*[Cc]loudant.*", "field": "credentials.url"},
  "CLOUDANT_VOC_CONTENT_DB_NAME": "voc-content",
  "CLOUDANT_CRAWL_CONFIG_DB_NAME": "crawl-config",
  "CLOUDANT_USERNAME": {"expr": ".*[Cc]loudant.*", "field": "credentials.username"},
  "CLOUDANT_PASSWORD": {"expr": ".*[Cc]loudant.*", "field": "credentials.password"},
  "DISCOVERY_URL": {"expr": ".*[Dd]iscovery.*", "field": "credentials.url"},
  "DISCOVERY_USERNAME": {"expr": ".*[Dd]iscovery.*", "field": "credentials.username"},
  "DISCOVERY_PASSWORD": {"expr": ".*[Dd]iscovery.*", "field": "credentials.password"},
  "DISCOVERY_ENV_ID": "",
  "DISCOVERY_COLLECTION_ID": "",
  "DISCOVERY_CONFIG_ID": ""
}
