{
  "CLOUDANT_CONNECTION_URL": {"expr": "Cloudant.*", "field": "credentials.url"},
  "CLOUDANT_VOC_CONTENT_DB_NAME": "voc-content-v1",
  "CLOUDANT_CRAWL_CONFIG_DB_NAME": "crawl-config",
  "CLOUDANT_USERNAME": {"expr": "Cloudant.*", "field": "credentials.username"},
  "CLOUDANT_PASSWORD": {"expr": "Cloudant.*", "field": "credentials.password"},
  "CONVERSATION_API_URL": {"expr": "Conversation.*", "field": "credentials.url", "append": "/v1/workspaces/ab83c58e-03fb-4098-9b1b-271ca3bd7d01/message?version=2017-02-03"},
  "CONVERSATION_API_USER": {"expr": "Conversation.*", "field": "credentials.username"},
  "CONVERSATION_API_PASSWORD": {"expr": "Conversation.*", "field": "credentials.password"},
  "CONVERSATION_WORKSPACE": "ea980e73-c303-43e8-aed1-128c34bfbdd3",
  "DISCOVERY_URL": {"expr": "Discovery.*", "field": "credentials.url"},
  "DISCOVERY_USERNAME": {"expr": "Discovery.*", "field": "credentials.username"},
  "DISCOVERY_PASSWORD": {"expr": "Discovery.*", "field": "credentials.password"},
  "DISCOVERY_ENV_ID": "",
  "DISCOVERY_COLLECTION_ID": "",
  "DISCOVERY_CONFIG_ID": ""
}
