<nav class="navbar ibm-navbar ibm-navbar--black" style="background-color:#272727;border-bottom-color:#272727;">
  <div class="navbar-header ibm-navbar__header">
    <button type="button" class="navbar-toggle collapsed ibm-navbar__btn" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand ibm-navbar__brand" href="#" style="padding-top:1.2em;"><strong>W Wireless</strong> Cognitive Dashboard</a>
  </div>
  <div id="navbar" class="ibm-navbar__nav" aria-expanded="false">
    <ul class="nav navbar-nav navbar-right ibm-navbar-list">
      <li class="ibm-navbar-list__item" style="background-color:#272727;"><a href="#" style="padding-top:1.3em;">About</a></li>
      <li class="ibm-navbar-list__item" style="background-color:#272727;"><a href="#" style="padding-top:1.3em;">Contact</a></li>
      <li class="ibm-navbar-list__item ibm-navbar-list__item--icon" style="background-color:#272727;"><a (click)="logout()"><span class="ibm-icon--user-profile_24" aria-hidden="true"></span></a></li>
      <li class="ibm-navbar-list__item ibm-navbar-list__item--icon" style="background-color:#272727;"><a href="#"><span class="ibm-icon--settings-manage_24" aria-hidden="true"></span></a></li>
      <li class="ibm-navbar-list__item ibm-navbar-list__item--icon" style="background-color:#272727;"><a href="#"><span class="ibm-icon--help_24" aria-hidden="true"></span></a></li>
    </ul>
  </div><!--/.nav-collapse -->
</nav>
