<div class="dashboard-container">
  <div class="dashboard-title">
    <h1><a (click)="returnToCaller()"><i class="fa fa-arrow-left" aria-hidden="true"></i></a><span>   {{product}}</span></h1>
    <span class="h1-text--right">{{lastUpdated}}</span>
    <hr style="clear:both;"/>
    <div class="row">
      <div class="col-md-4">
        <app-product-sentiment [product]="product"></app-product-sentiment>
      </div>
      <div class="col-md-8">
        <app-concepts-mentioned [product]="product"></app-concepts-mentioned>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <app-perception-over-time [product]="product"></app-perception-over-time>
      </div>
      <div class="col-md-4">
        <app-keywords-mentioned [product]="product"></app-keywords-mentioned>
      </div>
    </div>
  </div>
</div>
