<div class="dashboard-container">
  <div class="dashboard-title">
    <h1><span>Today's Highlights</span></h1>
    <span class="h1-text--right">{{lastUpdated}}</span>
    <hr style="clear:both;"/>
  </div>
  <div class="ibm-tabs">
    <!-- Nav tabs -->
    <ul class="ibm-tabs__tabs" role="tablist">
      <li role="presentation" class="ibm-tabs__tab" routerLinkActive="ibm-tabs__tab--active"><a routerLink="/home/dashboard/all-channels" aria-controls="all-channels" role="tab" data-toggle="tab">All Channels</a></li>
      <li role="presentation" class="ibm-tabs__tab" routerLinkActive="ibm-tabs__tab--active"><a routerLink="/home/dashboard/audio-calls" aria-controls="audio-calls" role="tab" data-toggle="tab">Audio Calls</a></li>
      <li role="presentation" class="ibm-tabs__tab" routerLinkActive="ibm-tabs__tab--active"><a routerLink="/home/dashboard/forums" aria-controls="forums" role="tab" data-toggle="tab">Forums</a></li>
      <li role="presentation" class="ibm-tabs__tab" routerLinkActive="ibm-tabs__tab--active"><a routerLink="/home/dashboard/chats" aria-controls="chat-logs" role="tab" data-toggle="tab">Chat Logs</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content ibm-tabs__content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
