/* IBM Watson Colors 
======================================== */
/* 

Blue 60					#325C80   rgb(50,92,128)	
Teal 60					#006D5D   rgb(0,109,93)		
Orange 50				#D74108   rgb(215,65,8)		

Blue 40					#5596E6   rgb(85,150,230)		
Teal 40					#00B4A0   rgb(0,180,160)		
Orange 30				#FF7832   rgb(255,120,50)		
Yellow 30				#EFC100   rgb(239,193,0)		

Gray 90					#121212   rgb(18,18,18)			 	
Gray 80					#323232   rgb(50,50,50)					
Gray 70					#464646   rgb(70,70,70)					
Gray 60					#5A5A5A   rgb(90,90,90)					
Gray 50					#777677   rgb(118,119,118)			
Gray 40					#959595   rgb(149,149,149)	
Gray 30					#AEAEAE   rgb(174,174,174)			
Gray 20					#C7C7C7   rgb(199,199,199)	
Gray 10					#E0E0E0   rgb(224,224,224)	 	

Neutral 4       #ECECEC   rgb(236,236,236)     
Neutral 3       #F4F4F4   rgb(244,244,244)     
Neutral 2				#F9F9F9   rgb(249,249,249)	
Neutral 1       #fdfdfd   rgb(253,253,253)  
*/



/* IBM Design Colors 
======================================== */
/* 

$palettes: (
  'blue': (
    core: #4178BE,   
    10: #C0E6FF,    rgb(192,230,255)
    20: #7CC7FF,    rgb(124,199,255)
    30: #5AAAFA,    rgb(90,170,250)
    40: #5596E6,    rgb(85,150,230)
    50: #4178BE,    rgb(65,120,190)
    60: #325C80,    rgb(50,92,128)
    70: #264A60,    rgb(38,74,96)
    80: #1D3649,    rgb(29,54,73)
    90: #152935,    rgb(21,41,53)
    100: #010205    rgb(1,2,5)
  ),
  'green': (
    core: #4B8400,
    10: #C8F08F,    rgb(200,240,143)
    20: #B4E051,    rgb(180,224,81)
    30: #8CD211,    rgb(140,210,17)
    40: #5AA700,    rgb(90,167,0)
    50: #4B8400,    rgb(75,132,0)
    60: #2D660A,    rgb(45,102,10)
    70: #144D14,    rgb(20,77,20)
    80: #0A3C02,    rgb(10,60,2)
    90: #0C2808,    rgb(12,40,8)
    100: #010200    rgb(1,2,0)
  ),
  'teal': (
    core: #008571,
    10: #A7FAE6,    rgb(167,250,230)
    20: #6EEDD8,    rgb(110,237,216)
    30: #41D6C3,    rgb(65,214,195)
    40: #00B4A0,    rgb(0,180,160)
    50: #008571,    rgb(0,133,113)
    60: #006D5D,    rgb(0,109,93)
    70: #005448,    rgb(0,84,72)
    80: #003C32,    rgb(0,60,50)
    90: #012B22,    rgb(1,43,34)
    100: #000202    rgb(0,2,2)
  ),
  'purple': (
    core: #9855D4,  
    10: #EED2FF,    rgb(238,210,255)
    20: #D7AAFF,    rgb(215,170,255)
    30: #BA8FF7,    rgb(186,143,247)
    40: #AF6EE8,    rgb(175,110,232)
    50: #9855D4,    rgb(152,85,212)
    60: #734098,    rgb(115,64,152)
    70: #562F72,    rgb(86,47,114)
    80: #412356,    rgb(65,35,86)
    90: #311A41,    rgb(49,26,65)
    100: #030103    rgb(3,1,3)
  ),
  'magenta': (
    core: #DB2780,
    10: #FFD2FF,    rgb(255,210,255)
    20: #FF9EEE,    rgb(255,158,238)
    30: #FF71D4,    rgb(255,113,212)
    40: #FF3CA0,    rgb(255,60,160)
    50: #DB2780,    rgb(219,39,128)
    60: #A6266E,    rgb(166,38,110)
    70: #7C1C58,    rgb(124,28,88)
    80: #601146,    rgb(96,17,70)
    90: #3A0B2E,    rgb(58,11,46)
    100: #040102    rgb(4,1,2)
  ),
  'red': (
    core: #E71D32,   
    10: #FFD2DD,    rgb(255,210,221)
    20: #FFA5B4,    rgb(255,165,180)
    30: #FF7D87,    rgb(255,125,135)
    40: #FF5050,    rgb(255,80,80)
    50: #E71D32,    rgb(231,29,50)
    60: #AD1625,    rgb(173,22,37)
    70: #8C101C,    rgb(140,16,28)
    80: #6E0A1E,    rgb(110,10,30)
    90: #4C0A17,    rgb(76,10,23)
    100: #040001    rgb(4,0,1)
  ),
  'orange': (
    core: #FF7832,
    10: #FFD4A0,    rgb(255,215,145)
    20: #FFA573,    rgb(255,165,115)
    30: #FF7832,    rgb(255,120,50)
    40: #FF5003,    rgb(255,80,3)
    50: #D74108,    rgb(215,65,8)
    60: #A53725,    rgb(165,55,37) 
    70: #872A0F,    rgb(35,42,15)
    80: #6D120F,    rgb(109,18,15)
    90: #43100B,    rgb(67,16,11)
    100: #030100    rgb(3,1,0)
  ),
  'yellow': (
    core: #FDD600,   
    10: #FDE876,    rgb(253,232,118)
    20: #FDD600,    rgb(253,214,0)
    30: #EFC100,    rgb(239,193,0)
    40: #BE9B00,    rgb(190,155,0)
    50: #8C7300,    rgb(140,115,0)
    60: #735F00,    rgb(115,95,0)
    70: #574A00,    rgb(87,74,0)
    80: #3C3200,    rgb(60,50,0)
    90: #281E00,    rgb(0,30,0)
    100: #020100    rgb(2,1,0)
  ),
  'gray': (
     core: #777677,
     10: #E0E0E0,
     20: #C7C7C7,
     30: #AEAEAE,
     40: #959595,
     50: #777677,
     60: #5A5A5A,
     70: #464646,
     80: #323232,
     90: #121212,
    100: #000000
  ),
  'cool-gray': (
     core: #6D7777,
     10: #DFE9E9,
     20: #C8D2D2,
     30: #AEB8B8,
     40: #959F9F,
     50: #6D7777,
     60: #586262,
     70: #3C4646,
     80: #323C3C,
     90: #0D1111,
    100: #000203
  ),
  'warm-gray': (
     core: #7D7373,
     10: #E9E0E0,
     20: #D0C7C7,
     30: #B8AEAE,
     40: #9E9494,
     50: #7D7373,
     60: #645A5A,
     70: #504646,
     80: #3C3232,
     90: #1A1314,
    100: #030000
  ),
  'neutral-white': (
    core: #FDFDFD,
    10: #FDFDFD,
    20: #F9F9F9,
    30: #F4F4F4,
    40: #ECECEC
  ),
  'cool-white': (
    core: #FBFCFC,
    10: #FBFCFC,
    20: #F9F9FB,
    30: #F0F2F4,
    40: #ECF2F2
  ),
  'warm-white': (
    core: #FDFBFB,
    10: #FDFBFB,
    20: #FDFBFB,
    30: #F7F5F5,
    40: #F2EEEE
  ),
  'black': (
    core: #000000
  ),
  'white': (
    core: #FFFFFF
  )
);

*/