<div role="tabpanel" class="tab-pane active ibm-tabs__content-panel ibm-tabs__content-panel--active" id="all-channels">
  <div class="row">
    <div class="col-md-12">
      <app-brand-perception (perceptionAnalysisOpen)="openPerceptionAnalysis($event)"></app-brand-perception>
      <app-perception-analysis [options]="perceptionAnalysisOptions" *ngIf="showPerceptionAnalysis" (perceptionAnalysisClose)="closePerceptionAnalysis($event)"></app-perception-analysis>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <app-brand-sentiment></app-brand-sentiment>
    </div>
    <div class="col-md-4">
      <app-products-mentioned [options]="productMentions"></app-products-mentioned>
    </div>
    <div class="col-md-4">
      <app-mentioned-sentiment [options]="sentimentMentions"></app-mentioned-sentiment>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <app-most-popular [options]="popularTopics"></app-most-popular>
    </div>
    <div class="col-md-6">
      <app-most-popular [options]="popularFeatures"></app-most-popular>
    </div>
  </div>

</div>
