<div class="panel panel-default ibm-panel">
  <div class="panel-heading ibm-panel__heading">
    <div class="row">
      <div class="col-sm-8"><h3>Brand Perception over Time</h3></div>
      <div class="col-sm-4 text-right">
        <div class="btn-group ibm-dropdown-group" dropdown>
          <button id="single-button" type="button" class="btn btn-default ibm-btn ibm-btn--small ibm-btn--secondary" dropdownToggle>
            {{currentDateRange}} <span class="caret"></span>
          </button>
          <ul dropdownMenu role="menu" aria-labelledby="single-button">
            <li role="menuitem"><a class="dropdown-item" (click)="setDateType('last12months')">Previous 12 Months</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="setDateType('thisyear')">This Year</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="setDateType('thismonth')">This Month</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="setDateType('last4weeks')">The last 4 weeks</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="setDateType('last14days')">The last 14 days</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body ibm-panel__body">
    <div id="brand-perception-chart"></div>
  </div>
</div>
