<div class="arrow_box">
  <div class="arrow_box_container">
    <div class="row">
      <div class="col-md-5 right-border">
        <h2>{{perceptionAnalysisData.title}}</h2>
        <div class="row">
          <div class="col-md-12" style="line-height:1.2">
            <i style="display:inline-block;margin-right:10px" class="fa {{arrowType}} fa-4x" aria-hidden="true" [style.color]="getDirectionColor()"></i>
            <div style="display:inline-block;font-size:84px;margin-right:10px">{{perceptionAnalysisData.changePercentage}}</div>
            <span style="display:inline-block;font-size:22px;margin-right:10px">%</span>
            <span  style="display:inline-block">{{perceptionAnalysisData.changeText}}</span>
          </div>
        </div>
        <hr class="white-line">
        <div class="row" style="margin-top:15px">
          <div class="col-md-5">
            <div class="pull-right">
              <span class="perception-percentage-medium">{{perceptionAnalysisData.fromPercentage}}</span><span class="perception-percentage-sign">%</span>
              <p class="perception-statement">{{perceptionAnalysisData.fromText}}</p>
            </div>
          </div>
          <div class="col-md-2">
            <div class="perception-text-container">
              <span><i class="fa fa-arrow-right fa-4x" style="color:rgb(54, 207, 191);" aria-hidden="true"></i></span>
            </div>
          </div>
          <div class="col-md-5">
            <span class="perception-percentage-medium">{{perceptionAnalysisData.toPercentage}}</span><span class="perception-percentage-sign">%</span>
            <p class="perception-statement">{{perceptionAnalysisData.toText}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="close-btn">
          <a (click)="closePerceptionAnalysis()"><i class="fa fa-times fa-2x" aria-hidden="true"></i></a>
        </div>
        <div class="perception-statement-header">
          <h2 style="padding-top:5px;">Suggestions for Improvement</h2>
        </div>
        <p class="perception-statement">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tristique porttitor tempor. Morbi placerat rhoncus metus ut ultricies. Curabitur rhoncus sapien laoreet turpis vulputate, at commodo mauris euismod. In aliquam mauris non magna interdum, in mollis ante tristique. Aliquam facilisis, urna quis mollis finibus, lacus dolor consectetur leo, id consequat leo tellus non leo. Nunc sagittis leo pellentesque nulla posuere, a iaculis odio faucibus. Curabitur rutrum tortor sit amet libero faucibus, at imperdiet dui vehicula. Duis auctor lectus sed lacus imperdiet, vel elementum felis posuere. Nullam a tempus enim. Praesent dapibus euismod sem id molestie.</p>
      </div>
    </div>
  </div>
</div>
