<div class="arrow_box">
  <div class="arrow_box_container">
    <div class="row">
      <div class="col-md-5 right-border">
        <h2>Change in Positive Perception</h2>
        <div class="row" style="margin-top:15px">
          <div class="col-md-2">
            <div class="perception-text-container">
              <span><i class="fa fa-arrow-down fa-4x perception-down-arrow" aria-hidden="true"></i></span>
            </div>
          </div>
          <div class="col-md-3">
            <span class="perception-percentage-large">66</span><span class="perception-percentage-sign">%</span>
          </div>
          <div class="col-md-7 perception-statement">
            <div class="perception-text-container">
              drop in positive perception over 30 days
            </div>
          </div>
        </div>
        <hr class="white-line">
        <div class="row" style="margin-top:15px">
          <div class="col-md-5">
            <div class="pull-right">
              <span class="perception-percentage-medium">84</span><span class="perception-percentage-sign">%</span>
              <p class="perception-statement">positive sentiment 9/1</p>
            </div>
          </div>
          <div class="col-md-2">
            <div class="perception-text-container">
              <span><i class="fa fa-arrow-right fa-4x" style="color:rgb(54, 207, 191);" aria-hidden="true"></i></span>
            </div>
          </div>
          <div class="col-md-5">
            <span class="perception-percentage-medium">18</span><span class="perception-percentage-sign">%</span>
            <p class="perception-statement">positive sentiment 10/1</p>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="close-btn">
          <a (click)="closePerceptionAnalysis()"><i class="fa fa-times fa-lg" aria-hidden="true"></i></a>
        </div>
        <h2 style="color:rgb(177, 104, 234) !important;">Suggestions for Improvement</h2>
        <p class="perception-statement">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tristique porttitor tempor. Morbi placerat rhoncus metus ut ultricies. Curabitur rhoncus sapien laoreet turpis vulputate, at commodo mauris euismod. In aliquam mauris non magna interdum, in mollis ante tristique. Aliquam facilisis, urna quis mollis finibus, lacus dolor consectetur leo, id consequat leo tellus non leo. Nunc sagittis leo pellentesque nulla posuere, a iaculis odio faucibus. Curabitur rutrum tortor sit amet libero faucibus, at imperdiet dui vehicula. Duis auctor lectus sed lacus imperdiet, vel elementum felis posuere. Nullam a tempus enim. Praesent dapibus euismod sem id molestie.</p>
      </div>
    </div>
  </div>
</div>
